body {
    background-image: url('http://groupmasti.herokuapp.com/static/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
img{
    border-radius: 10px;
    }
.align{
    text-align: center;
    color:white;
    }
.textcls{
    text-align: none;
    }
#my-field{
    color:white;
    }
.po{
    margin-left: 100px;
    }
.ol{
    font-size: 25px;
    }
.lox{
    color: white;
}
@media only screen and (max-width: 600px) {
    .textcls{
        text-align: center;
    }
    .ol{
        font-size: medium;
    }
}