body {
    background-image: url('http://groupmasti.herokuapp.com/static/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
img{
    border-radius: 10px;
    }
#buttonchange{
    font-size: 18px;
}
.align{
    text-align: center;
    color:white;
    }
.textcls{
    text-align: none;
    }
#my-field{
    color:white;
    }
.textstyle{
    color: white;
}
.btn-first{
    width: 120px;
    height:40px;
}
.btn-second{
    width:120px;
    height: 40px;
}
.logocheck{
    text-align: center;
    margin-left: 40px;
    width: 150px;
    height: 50px;
}
@media only screen and (max-width: 600px) {
    #buttonchange{
        font-size: 14px;
    }
    .btn .btn-dark .btn-first{
        margin-left: 10px;
        width:30px;
        height:40px;
    }   
    .btn .btn-dark .btn-second{
        margin-left: 0px;
        width:30px;
        height: 40px;
    }
    .textcls{
        text-align: center;
    }
    .logocheck{
        text-align: center;
        margin-left: 25px;
        width: 100px;
        height: 40px;
    } 
}