body {
    background-image: url('http://chat97.herokuapp.com/static/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.pox{
    color:white;
}
.xox{
    text-align: none;
}
#my-field{
    color:white;
}
.po{
    margin-left: 100px;
}
.ol{
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    .xox{
        text-align: center;
    }
    .ol{
        font-size: medium;
    }
}