body{
  background-image:url('https://chat97.herokuapp.com/static/back2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.chat-online {
    color: #34ce57
}
.chat-offline {
    color: #e4606d
}
.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}
.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}
.chat-message-left {
    margin-right: auto
}
.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.pox{
  text-align:center;
  color:white;
}
.ko{
  background:#FFC300;
}
.lo{
    background:#FFC300;
}
.pol{
    resize:none;
    font-size: 1.5em;
    font-family: cursive;;
}
.logocheck{
    text-align: center;
    margin-left: 40px;
    width: 150px;
    height: 50px;
}
.colo{
    color: green;
}
.cc{
    margin-left: 200px;
    width: 150px;
}
.ck{
    margin-left: 100px;
    width:150px;
    height: 50px;
}
.kk{
    text-align: center;
}
.ol{
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    img{
      border-radius: 10px;
      height:200px;
    }
    .cc{
        margin-left: 10px;
        width:100px;
        height:50px;
        font-size:20px;
    }   
    .ck{
        margin-left: 0px;
        width:80px;
        height: 40px;
    }
    .pol{
      font-size:1.2em;
    } 
    .logocheck{
        text-align: center;
        margin-left: 25px;
        width: 100px;
        height: 40px;
    } 
    .ol{
        font-size:medium;
    }
}