body {
    background-image:url('http://chat97.herokuapp.com/static/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.pox{
    text-align:center;
}
#making{
    height:50px;
    width:200px;
    font-size: large;
    font-family: Georgia, serif;
}
#looking{
    height:50px;
    width:660px;
    font-size: large;
    font-family: Georgia, serif;
    margin-left:100px;
}
@media only screen and (max-width: 600px) {
    #making {
      height:40px;
      width:200px;
      font-size: 18px;
      margin-top:10px;
    }
    #looking{
        height:40px;
        width:250px;
        font-size:18px;
        margin-right:10px;
    }
}