body {
    background-image:url('http://chat97.herokuapp.com/static/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img{
    border-radius: 12px;
}
.pox{
    text-align:center;
}
#making{
    height:50px;
    width:200px;
    font-size: large;
    font-family: Georgia, serif;
}
#looking{
    height:50px;
    width:660px;
    font-size: large;
    font-family: Georgia, serif;
    margin-left:120px;
}
.logocheck{
    text-align: center;
    margin-left: 40px;
    width: 200px;
    height: 80px;
}
@media only screen and (max-width: 600px) {
    #making {
      height:40px;
      width:200px;
      font-size: 18px;
      margin-top:10px;
    }
    #looking{
        height:40px;
        width:250px;
        font-size:18px;
        margin-left:0px;
    }
    .logocheck{
        text-align: center;
        margin-left: 50px;
        width: 100px;
        height: 40px;
    }
}