<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=<device-width",initial-scale="1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account.css'%}">
    <title>REGISTRATION</title>
</head>
<body>
    <br><br><br>
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-md-6">
                <h3>welcome to family.</h3>
                <h3>Thank you for Registration.</h3>
                <a href="https://chat97.herokuapp.com/login"><button class="btn btn-dark">Go to login</button></a>
            </div><br><br>
        </div>
    </div>
</body>
</html>