    {% extends 'base.html' %}
    {% block content %}
    {% load static%}
    <br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 align"></div>
            <div class="col-sm-6 align">
                <h3>welcome to family.</h3>
                <h3>Thank you for Registration.</h3>
                <div>
                    <a href="/"><button class="btn btn-dark">Go to home</button></a>
                    <a href="login"><button class="btn btn-dark">Go to login</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
{%endblock%}