<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account.css'%}">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ACCOUNT</title>
</head>
<body>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6">
            <a href="https://www.groupchat.ind.in"><img src="{% static 'logo.jpg'%}" class="logocheck"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-2"><a href="https://www.groupchat.ind.in/account_check"><button class="btn btn-dark cc" role="button">{{user}}</button></a></div>
        {% else %}
        <div class="col-4">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-4 pox"><a href="https://www.groupchat.ind.in/login"><button class="btn btn-dark ck" id="buttonchange">Login</button></a></div>
        <div class="col-4"><a href="https://www.groupchat.ind.in/signup"><button class="btn btn-dark ck" id="buttonchange">Signup</button></a></div>
        {% endif %}
    </div>
    <br>
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3 class="pox">Profile details</h3>
                <form  method="POST" class="form-group">
                    {%csrf_token%}
                    {%for t in data%}
                    <h5 class="lox">{{t.label_tag}} {{t}}</h5>
                    {% endfor %}
                </form>
                <div class="row">
                <div class="col-sm-3 xox">
                <a href="editprofile"><button class="btn btn-dark">EDIT PROFILE</button></a>
                </div>
                <div class="col-sm-3 xox">
                <a href="password"><button class="btn btn-success">PASSWORD</button></a>
                </div>
                <div class="col-sm-3 xox">
                <a href="logout"><button class="btn btn-warning">LOGOUT</button></a>
                </div>
                <div class="col-sm-3 xox">
                    <a href="/"><button class="btn btn-primary">CHAT ROOM</button></a>
                </div>
            </div>
            </div><br>
        </div>
    </div>
</body>
</html>