<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ACCOUNT</title>
</head>
<body>
    <br><br>
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3 class="pox">Profile details</h3>
                <form  method="POST" class="form-group">
                    {%csrf_token%}
                    {%for t in data%}
                    <h5 class="pox">{{t.label_tag}} {{t}}</h5>
                    {% endfor %}
                </form>
                <div class="row">
                <div class="col-sm-3 xox">
                <a href="editprofile"><button class="btn btn-dark">EDIT PROFILE</button></a>
                </div>
                <div class="col-sm-3 xox">
                <a href="password"><button class="btn btn-success">PASSWORD</button></a>
                </div>
                <div class="col-sm-3 xox">
                <a href="logout"><button class="btn btn-warning">LOGOUT</button></a>
                </div>
                <div class="col-sm-3 xox">
                    <a href="/"><button class="btn btn-primary">CHAT ROOM</button></a>
                </div>
            </div>
            </div><br>
        </div>
    </div>
</body>
</html>