<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Group chat personalchat room findlove find friends makenewfriend adult chat bestservice bestchatting website">
    <meta name="description" content="Group Masti is a chatting platform where someone can talk with other people.Make every moment mast.You can also create personal chatroom and start personal chatting. Have fun.">
    <meta name="author" content="Suman">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account.css'%}">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <title>REGISTRATION</title>
</head>
<body>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6"><a href="https://groupmasti.herokuapp.com/"><img src="{% static 'logo.jpg'%}" class="logocheck"></a></div>
        <div class="col-2"></div>
        <div class="col-4"><a href="https://groupmasti.herokuapp.com/account_check"><button class="btn btn-dark btn-second" role="button">{{user}}</button></a></div>
        {% else %}
        <div class="col-4"><a href="https://groupmasti.herokuapp.com/"><img src="{% static 'logo.jpg'%}" class="logocheck"></a></div>
        <div class="col-4 align"><a href="https://groupmasti.herokuapp.com/login"><button class="btn btn-dark btn-first" id="buttonchange">Login</button></a></div>
        <div class="col-4 align"><a href="https://groupmasti.herokuapp.com/signup"><button class="btn btn-dark btn-first" id="buttonchange">Signup</button></a></div>
        {% endif %}
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 align"></div>
            <div class="col-sm-6 align">
                <h3>welcome to family.</h3>
                <h3>Thank you for Registration.</h3>
                <div>
                    <a href="https://www.groupchat.ind.in/"><button class="btn btn-dark">Go to home</button></a>
                    <a href="https://www.groupchat.ind.in/login"><button class="btn btn-dark">Go to login</button></a>
                </div>
            </div><br><br>
        </div>
    </div>
</body>
</html>