<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Suman Patra">
        <meta name="keywords" content="blog,how to make money,salman khan shot dead,fashion,guidance,teaching,advice,Artist,dancer,musician,model">
        <meta name="description" content="Shining cat provides good quality of contents article for people of different ages with smooth user experience">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="icon" href="{% static 'logo.jpg' %}">
        <title>Shining Cat</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
            <img src="{% static 'logo.jpg'%}"  width="70" height="70" class="d-inline-block align-top" alt="">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/"><span id="button-first">Home</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/account"><span id="button-first">Account</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="/login"><span id="button-first">Login</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup"><span id="button-first">signup</span></a>
                </li>
                {%endif%}
                <li class="nav-item active">
                    <a class="nav-link" href="/feedback"><span id="button-first">Feedback</span></a>
                </li>
            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search room" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
          </nav>

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
          </section>
        <footer class="bg-dark text-center text-white">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Form -->
            <section class="">
              <ul class="messages message-color">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
              <form action="/" method="POST">
                <!--Grid row-->
                {% csrf_token %}
                <div class="row d-flex justify-content-center">
                  <!--Grid column-->
                  <div class="col-auto">
                    <p class="pt-2" style="color: white;">Sign up for our newsletter
                    </p>
                  </div>
                  <!--Grid column-->
        
                  <!--Grid column-->
                  <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="form5Example29" class="form-control" /  name ="email" placeholder="Enter your email">
                    </div>
                  </div>
                  <!--Grid column-->
        
                  <!--Grid column-->
                  <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light mb-4">
                      Subscribe
                    </button>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </form>
            </section>
            <!-- Section: Form -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="www.shiningcat.in">Groupmasti</a>
          </div>
          <!-- Copyright -->
        </footer>
    </body>
</html>