<!DOCTYPE html>
{% load static%}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="icon" type="image/x-icon" href="{%static 'favicon.ico'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{%static 'base.css'%}">
</head>
<body>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 pox">
        <h4>Hey {{report}}, as per your request,we are reviewing the content. If it is inappropiate then we will take neccessary action</h4>
      <hr>
      <button class="btn btn-primary">HOME PAGE</button>
      </div>
    </div>
</body>
</html>
