{% extends 'base.html' %}
{% block content %}
{% load static%}
    <main class="content">
        <div class="container p-0">
            <h1 class="h3 mb-3 olign">Messages</h1>
            <h2 class="olign">Welcome to room.Start chatting.</h2>
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-sm-12 col-xl-12">
                    <div class="position-relative">
                        <textarea class="textstyle" id="chat-log" rows="10" cols="140" wrap="hard" readonly style="max-width:100%">{%for i in chatmsg%}{{i.person}} : {{i.content}}.&#13;&#10;{% endfor %}</textarea>
                        <div class="input-group">
                            <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                            <button class="btn btn-primary" id="chat-message-submit"> Send</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main><br>
    <div class="row">
        <div class="col-sm-3 align"></div>
        <div class="col-sm-6 align">
            <h4> If you find any comment which is inappropiate we request you to report group. we will immediately take it down.</h4>
            <a href="https://groupmasti.herokuapp.com/report"><button class="btn btn-warning">Report room</button></a>
        </div>
    </div>
    <br>
    {{userr|json_script:'name'}}
    {{group|json_script:'group_name'}}
    <script>
        function myFunction() {
            alert("Hello! I am an alert box!");
          }
        const grpname=JSON.parse(document.getElementById('group_name').textContent)
        const username=JSON.parse(document.getElementById('name').textContent)
        var ws= new WebSocket('wss://groupmasti.herokuapp.com/wa/sc/'+grpname)
        console.log(grpname)
        ws.onopen = function(){
            console.log('WebSocket connection open....')
        } 
        ws.onmessage = function(event){
            console.log('Message receieved from server...',event.data)
            console.log('type of message receieved from server',typeof(event.data))
            const data= JSON.parse(event.data)
            console.log('Message receieved from server...',data)
            console.log('type of message receieved from server',typeof(data))
            document.querySelector('#chat-log').value +=username+" : "+(data.msg+'\n');
        }
        ws.onerror = function(event){
            console.log('websocket error occured..',event)
        }
        ws.onclose = function(){
            console.log('websocket closed....')

        }
        document.getElementById('chat-message-submit').onclick=
        function(event){
            const messageinputdom=document.getElementById('chat-message-input')
            const msg=messageinputdom.value
            console.log(msg)
            ws.send(JSON.stringify({'msg':msg}))
            messageinputdom.value=''
        }
    </script>
{%endblock%}