<!DOCTYPE html>
{% load static %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Group chat personalchat room findlove find friends makenewfriend adult chat bestservice bestchatting website">
    <meta name="description" content="Group Masti is a chatting platform where someone can talk with other people.Make every moment mast.You can also create personal chatroom and start personal chatting. Have fun.">
    <meta name="author" content="Suman">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <link rel="stylesheet" href="{% static 'account.css'%}">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <title>LOGIN</title>
</head>
<body>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6">
            <a href="https://groupmasti.herokuapp.com/"><img src="{% static 'logo.jpg'%}" class="logocheck"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-2"><a href="https://groupmasti.herokuapp.com/account_check"><button class="btn btn-dark btn-second" role="button">{{user}}</button></a></div>
        {% else %}
        <div class="col-4">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-4 pox"><a href="https://groupmasti.herokuapp.com/login"><button class="btn btn-dark btn-first" id="buttonchange">Login</button></a></div>
        <div class="col-4"><a href="https://groupmasti.herokuapp.com/signup"><button class="btn btn-dark btn-first" id="buttonchange">Signup</button></a></div>
        {% endif %}
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <h3 class="textstyle">Sign-in your account here</h4>
                <form class="form-group" action="login" method="POST">
                    {% csrf_token %}
                    {%for i in fm%}
                    <h5 id="my-field">{{ i.label }}</h5>
                    <h5>{{ i }}{{i.errors|striptags}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-dark">SUBMIT</button>
                </form>
                <h5 class="textstyle">New to site?</h5><a href="signup"><h5 class="textstyle">Creat your account</h5></a>
                <h5 class="textstyle"><a href="password_reset">forgot password</a></h5>
            </div>
        </div>
    </div>
</body>
</html>