{% extends 'base.html' %}
{% block content %}
{% load static%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <h3 class="textstyle">Sign-in your account here</h4>
                <form class="form-group" action="login" method="POST">
                    {% csrf_token %}
                    {%for i in fm%}
                    <h5 class="textstyle">{{ i.label }}</h5>
                    <h5>{{ i }}{{i.errors|striptags}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-dark">SUBMIT</button>
                </form>
                <a href="signup"><h5 class="textstyle">New to site? Creat your account</h5></a>
                <h5 class="textstyle"><a href="password_reset">forgot password</a></h5>
            </div>
        </div>
    </div>
    <br>
{%endblock%}