<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="base.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>INVALID</title>
</head>
<body>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 pox"></div>
            <div class="col-sm-4 pox">
            <h3 class="pox">SOMETHING WENT WRONG</h3>
            <h3 class="pox">INVALID PASSWORD AND USERNAME</h3>
            <a href="https://www.groupchat.ind.in/login"><h5 class="pox">CLICK HERE TO LOGIN</h5></a>
            <a href="https://www.groupchat.ind.in"><h5 class="pox">CLICK HERE TO GO HOMEPAGE</h5></a>
            </div>
        </div>
    </div>
</body>
</html>