<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>INVALID</title>
</head>
<body>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-2"></div>
        <div class="col-2"><a href="https://www.groupchat.ind.in/account_check"><button class="btn btn-dark cc" role="button">{{user}}</button></a></div>
        {% else %}
        <div class="col-4">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-4 pox"><a href="https://www.groupchat.ind.in/login"><button class="btn btn-dark ck" id="buttonchange">Login</button></a></div>
        <div class="col-4"><a href="https://www.groupchat.ind.in/signup"><button class="btn btn-dark ck" id="buttonchange">Signup</button></a></div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 pox"></div>
            <div class="col-sm-4 pox">
            <h3 class="pox">SOMETHING WENT WRONG</h3>
            <h3 class="pox">INVALID PASSWORD AND USERNAME</h3>
            <a href="https://www.groupchat.ind.in/login"><h5 class="pox">CLICK HERE TO LOGIN</h5></a>
            <a href="https://www.groupchat.ind.in"><h5 class="pox">CLICK HERE TO GO HOMEPAGE</h5></a>
            </div>
        </div>
    </div>
</body>
</html>