<html>
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Suman">
    <title>FINAL SETP</title>
    <link href="{%static 'bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'base.css'%}" rel="stylesheet">
    <link rel="icon" href="{% static 'logo.jpg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-sm-4 align">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 align">
            <h2 class="font-weight-bold mt-3">Password reset complete</h2>
            <hr>
            <p>Your password has been set. You may go ahead and log in now.</p>                 
            <a href="/login"><button class="btn btn-primary">Log in</button></a>
        </div>
    </div>
</body>
</html>