{% extends 'base.html' %}
{% block content %}
{% load static%}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <h3 class="textstyle">Change your password</h3>
                <h4>{{msg}}</h4>
                <h4>{{warn}}</h4>
                <form action="password" method="POST" >
                    {% csrf_token%}
                    <h5 class="textstyle">{{fm.as_p}}</h5>
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
{%endblock%}