<html>
    {% load static%}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{%static 'base.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <br>
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-6">
                <img src="{% static 'logo.jpg'%}" class="logocheck">
            </div>
            <div class="col-1"></div>
            <div class="col-2"><a href="https://www.groupchat.ind.in/account_check"><button class="btn btn-dark cc" role="button">{{user}}</button></a></div>
            {% else %}
            <div class="col-4">
                <img src="{% static 'logo.jpg'%}" class="logocheck">
            </div>
            <div class="col-4 pox"><a href="https://www.groupchat.ind.in/login"><button class="btn btn-dark ck" id="buttonchange">Login</button></a></div>
            <div class="col-4"><a href="https://www.groupchat.ind.in/signup"><button class="btn btn-dark ck" id="buttonchange">Signup</button></a></div>
            {% endif %}
        </div>
        <br><br><br>
            <div class="row">
                <div class="col-sm-4 pox"></div>
                <div class="col-sm-4 pox ka">
            <h2 class="font-weight-bold">Password reset sent</h2>
              <hr>
              <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
</body>
</html>