<!--Password Reset Confirm-->
<html>
    {% load static%}
    <head>
        <link href="{%static 'base.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
<div class="container p-5 kk pox">
    <h2 class="font-weight-bold mt-3 kk">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST" class="tox">
        {% csrf_token %}
        <p class="kk">{{ form}}</p>                    
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
</div>
</body>
</html>
