<html>
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Suman">
    <title>EMAIL SENT</title>
    <link href="{%static 'bootstrap.css'%}" rel="stylesheet">
    <link rel="icon" href="{% static 'logo.jpg' %}">
    <link href="{%static 'base.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-sm-4 align">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 align">
            <h2 class="font-weight-bold">Password reset sent</h2>
            <hr>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    <div>
</body>
</html>