<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'base.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpg' %}">
    <title>PRIVACY</title>
</head>
<body>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-1"></div>
        <div class="col-2"><a href="https://www.groupchat.ind.in/account_check"><button class="btn btn-dark cc" role="button">{{user}}</button></a></div>
        {% else %}
        <div class="col-4">
            <img src="{% static 'logo.jpg'%}" class="logocheck">
        </div>
        <div class="col-4 pox"><a href="https://www.groupchat.ind.in/login"><button class="btn btn-dark ck" id="buttonchange">Login</button></a></div>
        <div class="col-4"><a href="https://www.groupchat.ind.in/signup"><button class="btn btn-dark ck" id="buttonchange">Signup</button></a></div>
        {% endif %}
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 pox">
                <h3>TERMS AND CONDITIONS</h3>
                <h5>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
                If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                The materials contained in this web site are protected by applicable copyright and trade mark law.
                groupchat.ind.in has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by groupchat.ind.in. Use of any such linked web site is at the user's own risk.
                For the online assesments purchased on platform, customer can claim a refund for the unused invited within 7 days from the date of purchase.
                The refunds are processed and settled within 7 working days from the date of refund claim.
                The materials appearing on groupchat.ind.in's web site could include technical, typographical, or photographic errors. groupchat.ind.in does not warrant that any of the materials on its web site are accurate, complete, or current. groupchat.ind.in may make changes to the materials contained on its web site at any time without notice.
                groupchat.ind.in does not, however, make any commitment to update the materials.</h5>
            </div>
        </div>
    </div>
</body>
</html>