{% extends 'base.html' %}
{% block content %}
{% load static%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 align">
                <h3>TERMS AND CONDITIONS</h3>
                <h5>By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
                If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                For the online items purchased on platform, customer can claim a refund for the unused invited within 7 days from the date of purchase.
                The refunds are processed and settled within 7 working days from the date of refund claim.
                The materials appearing on groupchat.ind.in's website could include technical, typographical, or photographic errors. groupchat.ind.in does not warrant that any of the materials on its web site are accurate, complete, or current. groupchat.ind.in may make changes to the materials contained on its web site at any time without notice.
                groupchat.ind.in does not, however, make any commitment to update the materials.If you use any vulgar or any inappropiate comments,this can lead to ban of your account as well as neccessary action against you. We dont promot these type of activities.</h5>
            </div>
        </div>
    </div>
{%endblock%}