{% extends 'base.html' %}
{% block content %}
{% load static%}
<br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <h3>Personal data:</h4>
                <h4>We do not share your personal informations like email and phone no with anyone.your data security is our first priority.</h5>
                <h4>We are always there to support you.if you feel like you need any clarity,you can contact us</h4>
            </div>
        </div>
    </div>
    <br><br><br>
{%endblock%}